@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@*	<section id="home" data-target="home">
		<div class="static-banner">
			<div class="banner-text">
				<h1>Hello. <span class="highlighted"> I’m DOT. </span> <br> <small>Smart - Stylish - Powerful</small></h1>
				<a href="#" class="btn btn-tranparent">GET STARTED</a>
			</div>
		</div>
		<div class="action-banner">
			<div class="container">
				<a href="#" class="btn btn-tranparent pull-right hidden-xs">GET STARTED</a>
				<h2>Strong message that makes people take action instantly!</h2>
				<p>Lorem ipsum dolor sit amet, gubergren assentior et mel. Ne mei vitae appetere</p>
				<a href="#" class="btn btn-tranparent visible-xs">GET STARTED</a>
			</div>
		</div>*@
@*		<div class="section-area">
			<div class="container">*@
				<div class="title-section">
					<h1>Awesome Features.</h1>
					<p>Lorem ipsum dolor sit amet, te vel illud clita tempor. Commodo laoreet mei no. Vis ea mollis mediocrem voluptatum, <br>ad harum nominati duo. Dictas periculis salutatus ei est, eu odio augue vel. </p>
				</div>
				<div class="row features">
					<div class="col-sm-4 feature">
						<h3><span class="fa fa-rocket icon-circle"></span> Easy To Launch</h3>
						<p>Dicant nostrum cum te. An sint choro ius, cibo tractatos usu at, copiosae invenire eu pri.</p>
					</div>
					<div class="col-sm-4 feature">
						<h3><span class="fa fa-comment icon-circle"></span> Easy To Launch</h3>
						<p>Dicant nostrum cum te. An sint choro ius, cibo tractatos usu at, copiosae invenire eu pri.</p>
					</div>
					<div class="col-sm-4 feature">
						<h3><span class="fa fa-heart icon-circle"></span> Easy To Launch</h3>
						<p>Dicant nostrum cum te. An sint choro ius, cibo tractatos usu at, copiosae invenire eu pri.</p>
					</div>
				</div>
				<div class="blog-slider-wrap">
					<ul class="blog-slider">
						<li>
							<img src="~/Content/images/blog-slider1.jpg" alt="">
							<div class="overlay-data right">
								<div class="overlay-inner">
									<div>
										<h4>Work Title Here</h4>
									</div>
								</div>
								<a href="~/Content/images/blog-slider1.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
							</div>
						</li>
						<li>
							<img src="~/Content/images/blog-slider2.jpg" alt="">
							<div class="overlay-data right">
								<div class="overlay-inner">
									<div>
										<h4>Work Title Here</h4>
									</div>
								</div>
								<a href="~/Content/images/blog-slider2.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
							</div>
						</li>
						<li>
							<img src="Content/images/blog-slider3.jpg" alt="">
							<div class="overlay-data right">
								<div class="overlay-inner">
									<div>
										<h4>Work Title Here</h4>
									</div>
								</div>
								<a href="Content/images/blog-slider3.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
							</div>
						</li>
					</ul>
				</div>
@*			</div>
		</div>
	</section>*@
